[submodule "altium-jlc-library-parser"]
	path = altium-jlc-library-parser
	url = git@gitlab.com:prediccio-dev/altium-jlc-library-parser.git
[submodule "altium-jlc-parser"]
	path = altium-jlc-parser
	url = git@gitlab.com:ev-charging-solutions/altium-jlc-parser.git
